@import url("https://use.typekit.net/bam0srt.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
  margin: 0;
  padding: 0;
    
}

body {
    background: black;
}

.logo {
    display: block;
    height: 3rem;
    color: aqua;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
}

.work h1 {
    font-family: 'Timberline';
    font-size: 4rem;
    margin:0;
    color: black;
    text-align: left;
    padding-left: 70px;
    }

.page1 {
    background-size: cover;
    background-color: rgb(212,226,226);
}

        .page1 h2{
        padding-left: 70px;
        padding-right: 100px;
        color: black;
        font-family: 'Playfair Display', serif;
        font-weight: 100;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: left;
        }

.page2 {
    background-size: cover;
    background-color: rgb(224,212,212);
    padding-left: 0px;
    z-index:-10;
    display: flex;
        }

        .row {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        padding-right: 70px;
        padding-left: 70px;
        z-index:0;
        }

        .column {
        flex: 17%;
        padding: 5px;
        z-index:1000;
        }

        .column h1 {
        padding-right: 50px;
        }

        .overlay {
        position: relative;
        width: 100%;
        transition: .5s ease;
        opacity:1;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: left;
        }

        /* When you mouse over the container, fade in the overlay title */
        .column:hover .overlay {
        opacity: 1;
        }

.page3 {
    background-size: cover;
    background-color: rgb(200,200,200);
}


.page4 {
    background-size: cover;
    background-color: rgb(212,219,208);
}

#fp-nav {
    padding-right: 20px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: black;
    height: 4px;
    width: 4px;
}

.fp-slidesNav.fp-bottom {
    bottom: 250px;
    padding-left: 100px;
}

#fp-nav ul li .fp-tooltip {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: black;
    max-width: 500px;
}