.container {
          display: grid;
          height: 100vh;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
          grid-template-areas:
            "main"
            "sidebar"
            "content1"
            "content2"
            "content3"
            "nav";
          grid-gap: none;
          font-weight: 800;
          font-size: 12px;
          text-align: center;
}





body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: left;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(212,226,226);
}

main {
  background: rgb(212,226,226);
  grid-area: main;
}

main h1{
    font-family: 'Timberline';
    font-size: 4rem;
    margin:0;
    color: black;
    text-align: left;
    padding-left: 70px;
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
}

#content2 {
  background: #64ffda;
  grid-area: content2;
}

#content3 {
  background: #73ffba;
  grid-area: content3;
}


a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (min-width: 650px) {
    .container {
          display: grid;
          height: 100vh;
          overflow: hidden;
          grid-template-columns: 0.5fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 0.5fr 0.2fr;
          grid-template-areas:
            "sidebar main main main"
            "sidebar content1 content2 content3"
            "nav nav nav nav";
            
          grid-gap: none;
          font-weight: 800;
          font-size: 12px;
          color: #004d40;
          text-align: center;
        }
}