@import url("https://use.typekit.net/bam0srt.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

h1{
    font-family: serif;
    font-size: 3rem;
    line-height: 3rem;
    margin:0;
    color: black;
    text-align: left;
    padding-left: 50px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 100;
    margin:0;
    color: black;
    text-align: left;
    padding: 30px 50px 0px 50px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 100;
    margin:0;
    color: black;
    text-align: left;
    padding: 30px 50px 0px 50px;
}

h4{
    font-family: 'Timberline';
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 100;
    margin:0;
    color: black;
    text-align: left;
    padding: 30px 50px 0px 50px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8rem;
    padding: 30px 50px 0px 50px;
    margin:0;
    color: black;
    text-align: left;
}

.container {
          display: grid;
          height: 100vh;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
          grid-template-areas:
            "main"
            "title"
            "sidebar"
            "content1"
            "content2"
            "content3"
            "nav";
          grid-gap: none;
          font-weight: 100;
          font-size: 1rem;
          text-align: center;
}


body {
    padding: 0;
    margin: 0;
}

main {
  background: rgb(200,200,200);
  grid-area: main;
}

#title {
  background: rgb(212,226,226);
  grid-area: title;
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
}

#content2 {
  background: #64ffda;
  grid-area: content2;
}

#content3 {
  background: #73ffba;
  grid-area: content3;
}


nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    width: 25vw;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(212,226,226);
}

@media only screen and (min-width: 650px) {
    .container {
          display: grid;
          height: 100vh;
          overflow: hidden;
          grid-template-columns: 0.5fr 1fr 1fr 1fr;
          grid-template-rows: 0.5fr 1fr 1fr 0.1fr;
          grid-template-areas:
            "sidebar main main main"
            "sidebar title title title"
            "sidebar content1 content2 content3"
            "nav nav nav nav";
          grid-gap: none;
          font-weight: 200;
          font-size: 1rem;
          color: #004d40;
          text-align: center;
        }
    
    h1{
    font-size: 4rem;
}
}