    .container {
        border: 1px solid black;
        float: left;
    }
    
    h1 {
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        background-color: aliceblue;
        padding: 1.5em;
        margin: 0em;
        border-bottom: 1px solid black;
    }

    .body {

    }

    .profile {
        float: left;
        width: 25%;
        padding: 1em;
    }

    p {
        font-family: sans-serif;
        font-size: 1em;
        text-justify: inter-word;
        line-height: 2em;
        padding-left: 1em;
        padding-right: 1em;
    }